.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  background: transparent;
  border-bottom: 0.2rem solid var(--green-500);
  color: var(--gray-400);
  padding: 0.8rem;
  font-size: 1.4rem;
  width: 20rem;
  text-align: center;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--green-600);
}

.input::placeholder {
  color: var(--gray-400);
  font-size: 1.2rem;
}

.input:disabled {
  border: 0.2rem solid var(--gray-700);
  border-radius: 0.8rem;
}

.label {
  color: var(--gray-300);
}

input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--gray-400) !important;
  transition: background-color 9999s ease-in-out 0s;
}
