.container {
  background: var(--gray-800);
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 0.2rem solid var(--gray-700);
  transition: all 0.3s ease-in-out;
}
