.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border: none;
  background: var(--green-500);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 0.8rem;
  margin: 3.8rem 0;
  cursor: pointer;
  font-weight: bold;
  color: var(--gray-200);
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.danger {
  background: var(--red-500);
}

.outline {
  border: none;
  border: 0.2rem solid var(--green-500);
  background: transparent;
  color: var(--green-500);
}

.sm {
  padding: 1.2rem;
}

.md {
  min-width: 24rem;
}

.button:hover {
  filter: brightness(70%);
}

.button svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--gray-900);
}
